Source: oc-change
Section: misc
Priority: extra
Maintainer: "Super" Nathan Weber <supernathansunshine@gmail.com>
Build-Depends-Indep: debhelper (>= 5.0.0)
Standards-Version: 3.9.0
Homepage: http://pibang.org/

Package: oc-change
Depends: python-notify, zenity, curl, wget
Architecture: all
Description: Simple program to change Raspberry Pi overclock settings


